body{

  background-image: url("img/notebook_background.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center top;

}


.container {
  margin: 100px auto 0;  

}

.row {
  justify-content: center;
}

ul {
  margin: 0;
  padding: 0;
}
li * {
  float: left;
}

li, h3 {
    clear:both;
    list-style:none;
  }

  input, button {
    outline: none;
  }
  button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
  }

  
svg {
  width: 64px;
  height: 64px;
}

#incomplete-tasks {
  list-style: none;
  margin-bottom: 20px;
}

.toDo-item {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toDo-item span {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
}

input[type="checkbox"] {
  display: none;
}

.tick {
  width: 30px;
  height: 30px;
  border: 3px solid #333;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fal {
  border: none;
  outline: none;
  cursor: pointer;
}

